.originalSvg {
  max-height: 85vh;
  max-width: 90vw;
}

.originalSvg text {
  user-select: none;
}

.original-blue {
  fill: darkblue !important;
}
.original-red {
  fill: red !important;
}
.original-gray {
  fill: gray !important;
}

text {
  cursor: pointer;
}
