.skupina1 {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: red;
  border: 3px solid black;
  height: 120px;
  min-width: 120px;
  color: white;
  font-size: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.skupina2 {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: darkblue;
  border: 3px solid black;
  height: 120px;
  min-width: 120px;
  color: white;
  font-size: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
